cmake-build*/
install/
.idea/
.vs/
output/
build/
.vscode/
tmp/
tmp-*/
libs/
graph.html
doxygen_log.txt
*__pycache__/
package*
conan_package.sh
docs/doc_build/doctrees
docs/doc_source/doxyoutput
docs/doc_source/api
docs/doc_source/_static
docs/doc_source/_templates
CMakeUserPresets.json
